{{!< default}}

{{#post}}

<main id="main" role="main">
  <article class="post single {{post_class}}">
		<h2 class="title"><a href="{{url}}">{{{title}}}</a></h2>
		<time>{{date published_at format="MMMM DD, YYYY"}}</time>
		<section class="content single-content">
      {{content}}
		</section>
  </article>
	<section class="comments page">
		<div id="disqus_thread"></div>
	</section>
</main>
{{/post}}

